.login-btn {
    background-color: #1db954;
    border-radius: 20px;
    margin-right: 10px;
    color: white;
}

.login-btn:hover {
    background-color: #1aa34a;
    color: white;
}

.buttons {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}