* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.credit {
    margin-top: 5vh
}

.credit a {
    color: black;
}